<div class="example-header">
    <mat-form-field class="filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button mat-raised-button color="primary" class="create-btn" (click)="openDialog()">Create a project</button>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="effort">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Effort</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.effort}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="spent">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Spent</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.spent}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="approved">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Approved</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.approved}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="assigned">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.assigned}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="taken">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Taken</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.taken}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

