<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" [formControl]="passwordFormControl" [(ngModel)]="password" type="password">
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Please, enter your password
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Confirm password" [formControl]="confirmPasswordFormControl" [(ngModel)]="confirm" type="password">
    <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
      Please, re-enter your password
    </mat-error>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="password !== confirm">Submit</button>
  </mat-card-actions>
</form>