.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  mat-card {
    width: 300px;
  }


  mat-card-content {
    display: flex;
    flex-direction: column;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
}