<div class="create-user">
    <mat-card>
        <mat-card-title>Welcome to Galera!</mat-card-title>
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="first name" [formControl]="firstNameFormControl"
                       [errorStateMatcher]="matcher" [(ngModel)]="user.firstName" type="text">
                <mat-error *ngIf="firstNameFormControl.hasError('required')">
                    Please, enter first name
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="last name" [formControl]="lastNameFormControl"
                       [errorStateMatcher]="matcher" [(ngModel)]="user.lastName" type="text">
                <mat-error *ngIf="lastNameFormControl.hasError('required')">
                    Please, enter last name
                </mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <input matInput placeholder="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       [(ngModel)]="user.email" type="email">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Please, enter your email
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="user.isAdmin">Is Administrator</mat-checkbox>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                       [(ngModel)]="user.password" type="password">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Please, enter your password
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>