<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Please, enter your email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher" [(ngModel)]="email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendMail()">Send</button>
    </mat-card-actions>
</form>