<div class="create-project">
    <mat-card>
        <mat-card-title>Create new project</mat-card-title>
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="title" [formControl]="titleFormControl"
                       [errorStateMatcher]="matcher" [(ngModel)]="project.title" type="text">
                <mat-error *ngIf="titleFormControl.hasError('required')">
                    Please, enter title
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="status" [formControl]="statusFormControl" [(ngModel)]="project.status" required>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{status}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="statusFormControl.hasError('required')">Please choose a status</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="effort(planned hours/spent hours)" [formControl]="effortFormControl"
                       [errorStateMatcher]="matcher"
                       [(ngModel)]="project.effort" type="text">
                <mat-error *ngIf="effortFormControl.hasError('required')">
                    Please, enter current effort
                </mat-error>
                <mat-error *ngIf="effortFormControl.hasError('pattern')">
                    Please, enter effort in a correct format
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="spent" [formControl]="spentFormControl" [errorStateMatcher]="matcher"
                       [(ngModel)]="project.spent" type="number">
                <mat-error *ngIf="spentFormControl.hasError('required')">
                    Please, enter how many hours is already spent
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="approved" [formControl]="approvedFormControl" [errorStateMatcher]="matcher"
                       [(ngModel)]="project.approved" type="number">
                <mat-error *ngIf="approvedFormControl.hasError('required')">
                    Please, enter how many hours are already approved
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select placeholder="assigned" [formControl]="assignedFormControl" required>
                    <mat-option *ngFor="let user of users | async" [value]="user">
                        {{ user.firstName }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="statusFormControl.hasError('required')">
                    Please, choose assignee
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select placeholder="taken" [formControl]="takenFormControl" required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let user of users | async" [value]="user">
                        {{ user.firstName }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="takenFormControl.hasError('required')">
                    Please, choose who took this project
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="dontMatch">
                Effort amount of spent hours does not match spent field.
            </mat-error>
            <mat-error *ngIf="project.approved > project.spent">
                Amount of approved hours is bigger than the amount of spent hours.
            </mat-error>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>