@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-accent: mat-palette($mat-yellow);
$candy-app-primary:  mat-palette($mat-grey, 800, 600, 900);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

html, body {
    height: 100%;
    margin: 0;

    .example-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }

    .example-header {
        min-height: 64px;
        padding: 8px 24px 0;
        display:flex;
        justify-content: space-between;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .mat-table {
        overflow: auto;
        max-height: 500px;
    }

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;

    }

    .example-full-width {
        width: 100%;
    }

    .filter {
        width: 50%;
    }

    .create-btn {
        margin-top: 10px;
        height:60%;
    };

    .update-btn {
        border: 1px;
    }
}

