<!--<div class="header">-->
<!--</div>-->

<mat-toolbar class="header">
    <div>Fivewalls TR</div>
    <button mat-raised-button color="primary" routerLink="/login" (click)="logout()" *ngIf="user">Logout</button>
</mat-toolbar>