<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/">Home</a>
    <a mat-tab-link routerLink="/projects">Projects</a>
    <a mat-tab-link routerLink="/users">Users</a>
</nav>

<router-outlet></router-outlet>